.highlight {
  padding: 2px 12px;
  background: #050e1c;
  margin-bottom: 14px; }

.highlight .hll {
  background-color: #ffffcc; }

/* Comment */
.highlight .c {
  color: gray; }

/* Error */
.highlight .err {
  color: #f00000;
  background-color: #f0a0a0; }

/* Keyword */
.highlight .k {
  color: #9dc879;
  font-weight: bold; }

/* Operator */
.highlight .o {
  color: white; }

/* Comment.Multiline */
.highlight .cm {
  color: gray; }

/* Comment.Preproc */
.highlight .cp {
  color: #507090; }

/* Comment.Single */
.highlight .c1 {
  color: gray; }

/* Comment.Special */
.highlight .cs {
  color: #cc0000;
  font-weight: bold; }

/* Generic.Deleted */
.highlight .gd {
  color: #a00000; }

/* Generic.Emph */
.highlight .ge {
  font-style: italic; }

/* Generic.Error */
.highlight .gr {
  color: red; }

/* Generic.Heading */
.highlight .gh {
  color: navy;
  font-weight: bold; }

/* Generic.Inserted */
.highlight .gi {
  color: #00a000; }

/* Generic.Output */
.highlight .go {
  color: gray; }

/* Generic.Prompt */
.highlight .gp {
  color: #c65d09;
  font-weight: bold; }

/* Generic.Strong */
.highlight .gs {
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gu {
  color: purple;
  font-weight: bold; }

/* Generic.Traceback */
.highlight .gt {
  color: #0040d0; }

/* Keyword.Constant */
.highlight .kc {
  color: #9dc879;
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kd {
  color: #9dc879;
  font-weight: bold; }

/* Keyword.Namespace */
.highlight .kn {
  color: #9dc879;
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kp {
  color: #003080;
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kr {
  color: #9dc879;
  font-weight: bold; }

/* Keyword.Type */
.highlight .kt {
  color: #303090;
  font-weight: bold; }

/* Literal.Number */
.highlight .m {
  color: #6000e0;
  font-weight: bold; }

/* Literal.String */
.highlight .s {
  background-color: #fff0f0; }

/* Name.Attribute */
.highlight .na {
  color: #0000c0; }

/* Name.Builtin */
.highlight .nb {
  color: #007020; }

/* Name.Class */
.highlight .nc {
  color: #b00060;
  font-weight: bold; }

/* Name.Constant */
.highlight .no {
  color: #85b8e0;
  font-weight: bold; }

/* Name.Decorator */
.highlight .nd {
  color: #505050;
  font-weight: bold; }

/* Name.Entity */
.highlight .ni {
  color: maroon;
  font-weight: bold; }

/* Name.Exception */
.highlight .ne {
  color: #f00000;
  font-weight: bold; }

/* Name.Function */
.highlight .nf {
  color: #0060b0;
  font-weight: bold; }

/* Name.Label */
.highlight .nl {
  color: #907000;
  font-weight: bold; }

/* Name.Namespace */
.highlight .nn {
  color: #0e84b5;
  font-weight: bold; }

/* Name.Tag */
.highlight .nt {
  color: #007000; }

/* Name.Variable */
.highlight .nv {
  color: #768d5d; }

/* Operator.Word */
.highlight .ow {
  color: black;
  font-weight: bold; }

/* Text.Whitespace */
.highlight .w {
  color: #bbbbbb; }

/* Literal.Number.Float */
.highlight .mf {
  color: #6000e0;
  font-weight: bold; }

/* Literal.Number.Hex */
.highlight .mh {
  color: #005080;
  font-weight: bold; }

/* Literal.Number.Integer */
.highlight .mi {
  color: #0000d0;
  font-weight: bold; }

/* Literal.Number.Oct */
.highlight .mo {
  color: #4000e0;
  font-weight: bold; }

/* Literal.String.Backtick */
.highlight .sb {
  background-color: #fff0f0; }

/* Literal.String.Char */
.highlight .sc {
  color: #0040d0; }

/* Literal.String.Doc */
.highlight .sd {
  color: #d04020; }

/* Literal.String.Double */
.highlight .s2 {
  color: #9dc879; }

/* Literal.String.Escape */
.highlight .se {
  color: #606060;
  font-weight: bold;
  background-color: #fff0f0; }

/* Literal.String.Heredoc */
.highlight .sh {
  background-color: #fff0f0; }

/* Literal.String.Interpol */
.highlight .si {
  background-color: #e0e0e0; }

/* Literal.String.Other */
.highlight .sx {
  color: #d02000;
  background-color: #fff0f0; }

/* Literal.String.Regex */
.highlight .sr {
  color: black;
  background-color: #fff0ff; }

/* Literal.String.Single */
.highlight .s1 {
  background-color: #fff0f0; }

/* Literal.String.Symbol */
.highlight .ss {
  color: #768d5d; }

/* Name.Builtin.Pseudo */
.highlight .bp {
  color: #007020; }

/* Name.Variable.Class */
.highlight .vc {
  color: #306090; }

/* Name.Variable.Global */
.highlight .vg {
  color: #d07000;
  font-weight: bold; }

/* Name.Variable.Instance */
.highlight .vi {
  color: #0060b0; }

/* Literal.Number.Integer.Long */
.highlight .il {
  color: #0000d0;
  font-weight: bold; }

section, article, aside, header, footer, nav, dialog, figure {
  display: block; }

body {
  width: 760px;
  margin: 15px auto;
  font-family: arial, sans-serif;
  font-size: 14px;
  background-color: #262b32;
  color: #c3c3c3; }

h1, h2, h3, h4 {
  color: #85b8e0; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 23px; }

p {
  margin: 0 0 20px 0; }

p, li {
  line-height: 20px; }

a {
  color: #9dc879;
  text-decoration: none; }

a:visited {
  color: #768d5d; }

a:hover {
  border-bottom: solid 1px #9dc879; }

a:active {
  color: #768d5d;
  border-bottom: solid 2px #768d5d; }

nav a:visited, .breadcrumb a:visited {
  color: #9dc879; }

header#identity {
  width: 100%; }

article.post header h2 {
  margin-bottom: 0; }

header#identity nav ol, #page_footer nav ol {
  list-style: none;
  margin: 0;
  padding: 0; }

#identity nav ol li, footer#page_footer nav ol li {
  padding: 0;
  margin: 0 20px 0 0;
  display: inline; }

article.post {
  float: left;
  width: 74%; }

article.post section.preamble {
  font-weight: bold;
  font-size: 14px; }

article.post aside {
  width: 35%;
  font-size: 22px; }

article.post aside p {
  font-family: georgia;
  background: #ffe89e;
  padding: 15px;
  border: solid 1px #ffcf38;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.5);
  line-height: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px -1px #ffa738; }

article.post aside:nth-of-type(even) {
  float: left;
  margin-right: 3%; }

article.post aside:nth-of-type(odd) {
  float: right;
  margin-left: 3%; }

section#sidebar {
  float: left;
  width: 25%; }

footer#page_footer {
  clear: both;
  width: 100%;
  display: block;
  text-align: center; }
