%ul#nav
  %li= link_to "Home", "/", :unless => :current
  %li= link_to "Blog", "/blog", :unless => :current
  %li= link_to "Projects", "/projects/", :unless => :current
  %li= link_to "About", "/about", :unless => :current